html {
	height: 100%;
}

body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5rem;
	min-width: 50rem;
	background-color: #202124;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

#log {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	flex-direction:column;
	background-color: #FFFFFF;
}

#log-content {
	flex:1;
	border:solid 1px #AAAAAA;
	margin: 1rem;
	overflow: auto;
}

#log-close {
	height:2rem;
	margin:0rem 1rem 1rem 1rem;
}

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,0.6);
}

#modal-box {
	padding: 1rem;
	border-radius: 2px;
}

#modal-close {
	flex:1;
}

.box-container {
	flex:1;
	display:flex;
	flex-direction:column;
	margin:0.5rem;
}

.box-label {
	display: flex;
	margin-bottom: 0.5rem;
}

.add-button {
	margin-left: 0.5rem;
	color: #666666;
	cursor: pointer;
}

.item-box {
	flex: 1;
	color: black;
	overflow-y: auto;
}

.item {
	cursor: pointer;
	background-color: #BDBDBD;
	border-bottom: solid 1px #606268;
}

.item div {
	padding: 0.3rem 0.5rem;
}

.pin {
	background-color: #DDBDBD;
}

.selected {
	background-color: white;
}

.grey {
	background-color: #9B9B9B;
}

.darkgrey {
	background-color: #303134;
}
