html {
	height: 100%;
}

body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5rem;
	min-width: 50rem;
	background-color: #202124;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.item-label {
	flex: 1;
}

.item-box {
	flex: 1;
	border-radius: 2px;
	color: black;
}

.selected {
	background-color: white;
}

.project-item {
	padding: 0.3rem 0.5rem;
}

.shot-item {
	padding: 0.3rem 0.5rem;
}

.project-item {
	padding: 0.3rem 0.5rem;
}

.grey {
	background-color: #BDBDBD;
}

.darkgrey {
	background-color: #303134;
}
